

.icon-left{
position: absolute;
top: 10%;
left: 10px;

}

.icon-right{
position:absolute;
top: 50%;
right: 10px;

}

.winter{
    background-color: aliceblue;
}

.summer{
    background-color: antiquewhite;
}
.display-location.summer i {
    color: orange;
}
.display-location.winter i {
    color: rgb(138, 123, 123);
}
.display-location{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    /* background-color: aqua; */
}